NUXT_GTAG_ID=
# SUPABASE
SUPABASE_URL=
SUPABASE_KEY=
# FEATURES
NUXT_ENABLE_REGISTER_TICKET=
NUXT_ENABLE_REGISTER_NAMECARD=
NUXT_ENABLE_SHOW_TIMETABLE=
NUXT_ENABLE_SHOW_SPEAKER_INFO=
NUXT_ENABLE_SWITCH_LOCALE=
