node_modules
pnpm-lock.yaml

*.log

.nuxt
.nitro

nuxt.d.ts

*.log*

.output

.env

# idea
.idea/.name
.idea/caches/build_file_checksums.ser
.idea/codeStyles/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/tasks.xml
.idea/workspace.xml
